<head>
<style>
* {font-family:verdana;}
a {text-decoration:none;}
a:visited {color:blue;}
h1 {font-size: 1.5em;font-weight: normal;}
h3 {font-weight:normal;font-size:1.2em;}
.flights_dates {background: #c2d9ec;padding:1px 10px 10px 10px;margin-bottom:20px;}
.flights {background: #fffafa;padding:1px;}
.city_name {width:110px;display:inline-block;}
</style>
</head>
<body>

Prices for 4 adults, 1 child and 1 infant<br /><br />

<div class='flights_dates'><h1>Wed 23 Jan > Thu 31 Jan</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.SYD.2019-01-23*SYD.DUD.2019-01-31;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Sydney</span> - 3979, 3979, 4186, 4193, 4193</a></li><li><a href='https://www.google.com/flights#flt=DUD.MEL.2019-01-23*MEL.DUD.2019-01-31;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Melbourne</span> - 3901, 4171, 4171, 4187, 4259</a></li><li><a href='https://www.google.com/flights#flt=DUD.BNE.2019-01-23*BNE.DUD.2019-01-31;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Brisbane</span> - 3195, 4166, 4202, 4202, 4202</a></li></ul></div>
</div><div class='flights_dates'><h1>Wed 23 Jan > Fri 01 Feb</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.SYD.2019-01-23*SYD.DUD.2019-02-01;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Sydney</span> - 3826, 3826, 4033, 4040, 4040</a></li><li><a href='https://www.google.com/flights#flt=DUD.MEL.2019-01-23*MEL.DUD.2019-02-01;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Melbourne</span> - 4018, 4018, 4034, 4106, 4181</a></li><li><a href='https://www.google.com/flights#flt=DUD.BNE.2019-01-23*BNE.DUD.2019-02-01;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Brisbane</span> - 4166, 4202, 4202, 4202, 4202</a></li></ul></div>
</div><div class='flights_dates'><h1>Wed 23 Jan > Sat 02 Feb</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.SYD.2019-01-23*SYD.DUD.2019-02-02;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Sydney</span> - 4107, 4107, 4314, 4321, 4321</a></li><li><a href='https://www.google.com/flights#flt=DUD.MEL.2019-01-23*MEL.DUD.2019-02-02;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Melbourne</span> - 3793, 3894, 3894, 3911, 4057</a></li><li><a href='https://www.google.com/flights#flt=DUD.BNE.2019-01-23*BNE.DUD.2019-02-02;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Brisbane</span> - 3626, 3661, 3661, 3661, 3661</a></li></ul></div>
</div><div class='flights_dates'><h1>Wed 06 Feb > Thu 14 Feb</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.SYD.2019-02-06*SYD.DUD.2019-02-14;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Sydney</span> - 3826, 3826, 3826, 4033, 4033</a></li><li><a href='https://www.google.com/flights#flt=DUD.MEL.2019-02-06*MEL.DUD.2019-02-14;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Melbourne</span> - 2878, 3721, 3721, 3721, 3788</a></li><li><a href='https://www.google.com/flights#flt=DUD.BNE.2019-02-06*BNE.DUD.2019-02-14;c:NZD;e:1;px:4,1,1;sd:1;t:f'><span class='city_name'>Brisbane</span> - 3195, 3626, 4202, 4202, 4202</a></li></ul></div>
</div>Updated at: Wed Oct  3 21:03:01 2018</body>