<head>
<style>
* {font-family:verdana;}
a {text-decoration:none;}
a:visited {color:blue;}
h1 {font-size: 1.5em;font-weight: normal;}
h3 {font-weight:normal;font-size:1.2em;}
.flights_dates {background: #c2d9ec;padding:1px 10px 10px 10px;margin-bottom:20px;}
.flights {background: #fffafa;padding:1px;}
.city_name {width:110px;display:inline-block;}
</style>
</head>
<body>

<div class='flights_dates'><h1>Fri 04 Oct > Sun 06 Oct</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-10-04*CHC.DUD.2019-10-06;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 306, 326, 326, 346, 346</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-10-04*AKL.DUD.2019-10-06;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 418, 418, 456, 486, 516</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-10-04*CHC.WLG.2019-10-06;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 155, 187, 500, 500, 500</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-10-04*AKL.WLG.2019-10-06;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 281, 281, 281, 304, 304</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 11 Oct > Sun 13 Oct</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-10-11*CHC.DUD.2019-10-13;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 206, 206, 226, 246, 246</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-10-11*AKL.DUD.2019-10-13;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 243, 243, 276, 306, 336</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-10-11*CHC.WLG.2019-10-13;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 124, 191, 241, 326, 366</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-10-11*AKL.WLG.2019-10-13;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 160, 160, 180, 180, 200</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 18 Oct > Sun 20 Oct</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-10-18*CHC.DUD.2019-10-20;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 206, 226, 246, 266, 286</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-10-18*AKL.DUD.2019-10-20;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 170, 246, 426, 466, 466</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-10-18*CHC.WLG.2019-10-20;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 102, 137, 186, 226, 246</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-10-18*AKL.WLG.2019-10-20;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 140, 146, 166, 170, 170</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 25 Oct > Sun 27 Oct</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-10-25*CHC.DUD.2019-10-27;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 226, 246, 246, 246, 266</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-10-25*AKL.DUD.2019-10-27;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 231, 286, 286, 286, 316</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-10-25*CHC.WLG.2019-10-27;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 154, 178, 186, 226, 256</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-10-25*AKL.WLG.2019-10-27;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 140, 156, 170, 190, 190</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 01 Nov > Sun 03 Nov</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-11-01*CHC.DUD.2019-11-03;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 226, 246, 246, 246, 266</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-11-01*AKL.DUD.2019-11-03;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 355, 396, 426, 426, 426</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-11-01*CHC.WLG.2019-11-03;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 106, 106, 145, 166, 166</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-11-01*AKL.WLG.2019-11-03;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 244, 261, 281, 281, 284</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 08 Nov > Sun 10 Nov</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-11-08*CHC.DUD.2019-11-10;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 246, 246, 246, 266, 266</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-11-08*AKL.DUD.2019-11-10;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 456, 456, 486, 516, 556</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-11-08*CHC.WLG.2019-11-10;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 106, 110, 126, 131, 166</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-11-08*AKL.WLG.2019-11-10;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 344, 356, 356, 367, 367</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 15 Nov > Sun 17 Nov</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-11-15*CHC.DUD.2019-11-17;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 226, 226, 246, 246, 266</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-11-15*AKL.DUD.2019-11-17;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 210, 276, 306, 336, 336</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-11-15*CHC.WLG.2019-11-17;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 126, 134, 146, 166, 186</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-11-15*AKL.WLG.2019-11-17;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 150, 156, 160, 160, 170</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 22 Nov > Sun 24 Nov</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-11-22*CHC.DUD.2019-11-24;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 156, 156, 176, 216, 236</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-11-22*AKL.DUD.2019-11-24;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 163, 196, 226, 256, 286</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-11-22*CHC.WLG.2019-11-24;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 114, 126, 145, 146, 166</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-11-22*AKL.WLG.2019-11-24;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 150, 156, 160, 166, 170</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 29 Nov > Sun 01 Dec</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-11-29*CHC.DUD.2019-12-01;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 136, 156, 156, 156, 196</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-11-29*AKL.DUD.2019-12-01;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 220, 246, 276, 306, 336</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-11-29*CHC.WLG.2019-12-01;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 116, 124, 146, 155, 166</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-11-29*AKL.WLG.2019-12-01;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 126, 134, 140, 146, 150</a></li></ul></div>
</div><div class='flights_dates'><h1>Fri 06 Dec > Sun 08 Dec</h1><div class='flights'><h3>Dunedin</h3><ul><li><a href='https://www.google.com/flights#flt=DUD.CHC.2019-12-06*CHC.DUD.2019-12-08;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 106, 156, 176, 176, 196</a></li><li><a href='https://www.google.com/flights#flt=DUD.AKL.2019-12-06*AKL.DUD.2019-12-08;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 150, 216, 226, 336, 336</a></li></ul></div>
<div class='flights'><h3></h3><ul><li><a href='https://www.google.com/flights#flt=WLG.CHC.2019-12-06*CHC.WLG.2019-12-08;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Christchruch</span> - 106, 110, 126, 145, 146</a></li><li><a href='https://www.google.com/flights#flt=WLG.AKL.2019-12-06*AKL.WLG.2019-12-08;c:NZD;e:1;px:1;sd:1;t:f'><span class='city_name'>Auckland</span> - 126, 134, 134, 146, 150</a></li></ul></div>
</div>Updated at: Sat Sep 21 10:58:25 2019</body>